<div mat-dialog-title>
    <h1>Formulir Karyawan</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()"> 
    <div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Nama Depan</mat-label>
            <input matInput type = "text" placeholder="Contoh: Jane" formControlName="NamaDepan">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nama Belakang</mat-label>
            <input matInput placeholder="Contoh:Florensa" formControlName="NamaBelakang">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type = "email" placeholder="Contoh: florensa@gmail.com" formControlName="Email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tanggal Lahir</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="TanggalLahir">
            <mat-hint>BB/HH/TTTT</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>     

    </div>

    <div class="row">
        <mat-radio-group aria-label="Select an option" formControlName="JenisKelamin">
            <mat-label><b>Jenis Kelamin</b></mat-label>
            <mat-radio-button value="Laki-Laki">Laki-Laki</mat-radio-button>
            <mat-radio-button value="Perempuan">Perempuan</mat-radio-button>
            <mat-radio-button value="Lainnya">Lainnya</mat-radio-button>
          </mat-radio-group>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Pendidikan</mat-label>
            <mat-select formControlName="Pendidikan">
              <mat-option *ngFor="let val of education" [value]="val">{{val}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Perusahaan</mat-label>
            <input matInput placeholder="Contoh: Google" formControlName="Perusahaan">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Pengalaman</mat-label>
            <input matInput placeholder="Contoh: 4" type="number" formControlName="Pengalaman">
            <mat-hint> Dalam Tahun</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Pendapatan</mat-label>
            <input matInput placeholder="Contoh: 12.000" type="text" formControlName="Pendapatan">
            <mat-hint> Dalam Rupiah</mat-hint>
        </mat-form-field>
    </div>
</div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'update': 'Save'}}</button>
    </div>
</form>
